<div class="login-content-main">
  <div class="login-content">
    <img class="logo" src="../../../assets/logo.png" />
    <h2 class="welcome-text">Welcome to <span class="parkzapp-span"> ParkZapp </span> Admin<br>
      <span>Login to your Account</span>
    </h2>
    <form #loginForm="ngForm">

      <md-input-container>
        <input required #usernameEmailRef name="username" [(ngModel)]="username" type="text" class="animated fadeInUp" mdInput placeholder="Username">
      </md-input-container>

      <md-input-container>
        <input autofocus required #usernameEmailRef name="password" [(ngModel)]="password" type="password" class="animated fadeInUp"
          mdInput placeholder="Password">
      </md-input-container>

      <a routerLink="/register" class="register-link">Register New account</a>
      <a (click)="forgotPwdDialog()" class="forgot-password-link">Forgot your password?</a>

      <button md-button [disabled]="!loginForm.valid">Login</button>

    </form>
  </div>
</div>
